{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}


{% block dashboard %}
  <div class="antialiased bg-gray-800  ">
    {% include 'components/header.html' %}

    <main class="p-4 pt-20 ">

      <div class=" mx-auto">
        <div class="grid grid-cols-4 sm:grid-cols-4 gap-4">

      <!-- Kotak 1 -->
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-2xl font-bold text-white truncate">TOTAL KAS</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300"> Rp. {{ total_kas | intcomma }}</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-xl font-bold text-white truncate">PENGELUARAN </dt>
                  <dt class="text-xl font-bold text-white truncate"> {{ bulan_ini | date:"F Y" }}</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300">Rp. {{ total_kas_keluar_bulan_ini | intcomma }}</dd>
                </dl>
              </div>
            </div>
          </div>

      <!-- Kotak 2 -->
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-xl font-bold text-white truncate">JUMLAH RAPAT</dt>
                  <dt class="text-xl font-bold text-white truncate">{{ bulan_ini | date:"F Y" }}</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300">{{jumlah_rapat_bulan_ini }}</dd>
                </dl>
              </div>
            </div>
          </div>

      <!-- Kotak 3 -->
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-xl font-bold text-white truncate">KAS</dt>
                  <dt class="text-xl font-bold text-white truncate"> {{ bulan_ini | date:"F Y" }}</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300"> Rp. {{  total_kas_bulan_ini |  intcomma  }}</dd>
                </dl>
              </div>
            </div>
          </div>

      <!-- Kotak 4 -->

        </div>
      </div>
    </main>
  </div>

  <div class="p-4 pt-1">
    <div class="text-white font-bold ">
      JUMLAH RAPAT ANGGOTA {{ bulan_ini | date:"F Y" }}
    </div>

    <div class="mt-3" id="tabel_dashboard"></div>
    <div class="mx-auto">

      <script>
        document.addEventListener("DOMContentLoaded", function () {

          var table = new Tabulator("#tabel_dashboard", {
            layout: "fitColumns",
            responsiveLayout: "collapse",
            ajaxURL: "{% url 'dashboard_api' %}",
            placeholder: "Data tidak tersedia",
            ajaxConfig: "GET",
            pagination: true,
            paginationMode: "remote",
            paginationSize: 15,
            paginationCounter: "rows",

            columns: [
              {
                title: "NO",
                field: "no",
                hozAlign: "center",
                headerHozAlign: "center",
                formatter: function (cell) {
                  let page = cell.getTable().getPage();
                  let pageSize = cell.getTable().getPageSize();
                  return (page - 1) * pageSize + cell.getRow().getPosition(true);
                },

              },
              { title: "NAMA", field: "nama", headerHozAlign: "center" },
              { title: "BULAN INI", field: "jumlah_perbulan", headerHozAlign: "center", hozAlign: "center",},
              { title: "TAHUN INI", field: "jumlah_keseluruhan", headerHozAlign: "center",  formatter:"progress"},

            ]
          });
        });
      </script>
    </div>

  </div>

  <div class="">
    {% include 'copyright.html' %}
    {% comment %} {% else %}
    {% endif %} {% endcomment %}
  </div>



{% endblock %}
