{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block dashboard %}
  <div class="antialiased bg-gray-800  ">
    {% include 'components/header.html' %}

    {% comment %} <main class="p-4 pt-20 ">

      <div class=" mx-auto">
        <div class="grid grid-cols-4 sm:grid-cols-4 gap-4">

      <!-- Kotak 1 -->
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-2xl font-bold text-white truncate">TOTAL KAS</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300">12x</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-xl font-bold text-white truncate">PENGELUARAN </dt>
                  <dt class="text-xl font-bold text-white truncate"> {{ bulan_ini | date:"F Y" }}</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300">12x</dd>
                </dl>
              </div>
            </div>
          </div>

      <!-- Kotak 2 -->
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-xl font-bold text-white truncate">JUMLAH RAPAT</dt>
                  <dt class="text-xl font-bold text-white truncate">{{ bulan_ini | date:"F Y" }}</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300">12x</dd>
                </dl>
              </div>
            </div>
          </div>

      <!-- Kotak 3 -->
          <div class="text-white border-gray-400 rounded-lg h-32">
            <div class="overflow-hidden shadow sm:rounded-lg bg-gray-600 h-full">
              <div class="px-4 py-5 text-center">
                <dl>
                  <dt class="text-xl font-bold text-white truncate">KAS</dt>
                  <dt class="text-xl font-bold text-white truncate"> {{ bulan_ini | date:"F Y" }}</dt>
                  <dd class="mt-1 text-2xl font-semibold text-yellow-300">12x</dd>
                </dl>
              </div>
            </div>
          </div>

      <!-- Kotak 4 -->

        </div>
      </div>
    </main> {% endcomment %}
  </div>

  <div class="p-4 pt-20">
    <div class="text-white font-sm text-2xl">
      JUMLAH RAPAT ANGGOTA {{ bulan_ini | date:"F Y" }}
    </div>

    <div class="mt-3" id="tabel_dashboard"></div>
    <div class="mx-auto">
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var table = new Tabulator("#tabel_dashboard", {
            data: {{data | safe }},
            layout: "fitColumns",
            responsiveLayout: "collapse",
            initialSort:[             //set the initial sort order of the data
              {column:"jumlah_perbulan", dir:"dec"},
            ],
            columnDefaults:{
              tooltip:true,         //show tool tips on cells
            },
            placeholder: "Data tidak tersedia",

            columns: [
              {
                title: "NO",
                field: "no",
                width: 60,
                hozAlign: "center",
                formatter: function(cell) {
                  let row = cell.getRow();
                  let table = row.getTable();
                  let page = table.getPage();
                  let pageSize = table.getPageSize();
                  return ((page - 1) * pageSize) + row.getPosition();
                }
              },
              { title: "NAMA", field: "nama", headerHozAlign: "center" },
              { title: "BULAN INI", field: "jumlah_perbulan", headerHozAlign: "center" , hozAlign: "center",},
              { title: "TAHUN INI", field: "jumlah_keseluruhan", headerHozAlign: "center",  formatter:"progress"},
            ],

            ajaxError: function(xhr, textStatus, errorThrown) {
              console.error("Ajax Error:", textStatus, errorThrown);
            }
          });
        });
      </script>

    </div>

  </div>

  <div class="">
    {% include 'copyright.html' %}
    {% comment %} {% else %}
    {% endif %} {% endcomment %}
  </div>



{% endblock %}
