{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block data_rapat %}
    <div class="antialiased bg-gray-800  ">
        {% include 'components/header.html' %}
        <div class="p-4 pt-20">
            <div class="flex text-white text-2xl justify-between">
                <div class="">
                    DATA RAPAT
                </div>

                <div>


                    {% if group == 'ANGGOTA' %}
                        <button data-modal-target="tambah_rapat_untuk_anggota" data-modal-toggle="tambah_rapat_untuk_anggota" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            TAMBAH RAPAT
                        </button>
                    {% elif group == 'ADMIN' %}

                        <button data-modal-target="tambah_rapat" data-modal-toggle="tambah_rapat" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            TAMBAH RAPAT
                        </button>



                    {% else %}


                    {% endif %}
                </div>
            </div>

            <div class="mt-3" id="tabel_data_rapat"></div>
            <div class="mx-auto">

                {% if group == 'ANGGOTA' %}

                    {% include 'data_rapat/view_group/anggota.html' %}

                {% elif group == 'ADMIN' %}

                    {% include 'data_rapat/view_group/admin.html' %}

                {% elif group == 'PENGAWAS' %}

                    {% include 'data_rapat/view_group/pengawas.html' %}

                {% else %}

                    {% include 'data_rapat/view_group/superuser.html' %}


                {% endif %}

            </div>
        </div>
        {% include 'data_rapat/modal/tambah.html' %}
        {% include 'data_rapat/modal/tambah_untuk_anggota.html' %}
        {% include 'data_rapat/modal/edit_rapat.html' %}
        {% include 'data_rapat/modal/edit_nominal.html' %}
        {% include 'copyright.html' %}

{% endblock %}
