{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block data_rapat %}
  <div class="antialiased bg-gray-800  ">
    {% include 'components/header_data_rapat.html' %}


    <div class="p-4 pt-20">
      <div class="flex text-white text-2xl justify-between">
        <div class="">
          DATA RAPAT
        </div>
        <button type="button" class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">

          Tambah RAPAT
        </button>
      </div>

      <div class="mt-3" id="tabel_data_rapat"></div>
      <div class="mx-auto">
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            var table = new Tabulator("#tabel_data_rapat", {
              layout: "fitColumns",
              responsiveLayout: "collapse",
              ajaxURL: "",
              ajaxParams: {
                page: 1,
                size: 15,
              },
              ajaxConfig: "GET",
              pagination: true,
              paginationMode: "local", // fetch page dari server

              placeholder: "Data tidak tersedia",

              columns: [
                {
                  title: "No ",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },

                {
                  title: "Tanggal ",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },
                {
                  title: "Jam Rapat",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },
                {
                  title: "Nama",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },
                {
                  title: "Kontrak",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },
                {
                  title: "Masuk",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },
                {
                  title: "Keluar",
                  field: "nama_satker_lengkap",
                  headerHozAlign: "center"
                },

              ],

        // Opsional: log error pagination
              ajaxError: function(xhr, textStatus, errorThrown) {
                console.error("Ajax Error:", textStatus, errorThrown);
              }
            });
          });
        </script>

      </div>

    </div>




{% endblock %}
